.p-nav-bar{
    background-color: rgb(56,0,60);
}

.wd-logo-pic {
    height: 48px;
    width: 48px;
}
.wd-logo-pic-small {
    height: 30px;
    width: 30px;
}

.wd-green {
    color: rgb(0,255,133);
}

.btn.override-button {
    --bs-btn-bg: rgb(0,255,133);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(0,255,133);
}

.btn.override-log {
    --bs-btn-bg: rgb(4,245,255);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(4,245,255);
}

.btn.override-sub {
    --bs-btn-bg: rgb(233,0,82);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(233,0,82);
}

.list-group.override-lg-nav {
    background-color: rgb(56,0,60);
    border-style: none;
}

.list-group-item.override-lgi-nav{
    background-color: rgb(56,0,60);
    border-style: none;
}

.list-group-item.override-lgi-nav-selected{
    background-color: rgb(0,255,133);
    border-style: none;
    color:black
}

.nav-pills .nav-link.active.override-active-nav{
    background-color: rgb(0,255,133);
    color: black;
}


.nav-tabs .nav-link.override-link {
    background-color: rgb(233,0,82);;
}
