.p-nav-bar{
    background-color: rgb(56,0,60);
}

.wd-logo-pic {
    height: 48px;
    width: 48px;
}
.wd-logo-pic-small {
    height: 30px;
    width: 30px;
}

.wd-prof-edit-pic {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.wd-green {
    color: rgb(0,255,133);
}

.btn.override-button {
    --bs-btn-bg: rgb(0,255,133);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(0,255,133);
}

.btn.override-log {
    --bs-btn-bg: rgb(4,245,255);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(4,245,255);
}

.btn.override-sub {
    --bs-btn-bg: rgb(233,0,82);
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(233,0,82);
}

.list-group.override-lg-nav {
    background-color: rgb(56,0,60);
    border-style: none;
}

.list-group-item.override-lgi-nav{
    background-color: rgb(56,0,60);
    border-style: none;
}

.list-group-item.override-lgi-nav-selected{
    background-color: rgb(0,255,133);
    border-style: none;
    color:black
}

.nav-pills .nav-link.active.override-active-nav{
    background-color: rgb(0,255,133);
    color: black;
}


.nav-tabs .nav-link.override-link {
    background-color: rgb(233,0,82);;
}

.wd-profile {
    color: white;
    background-color:rgb(56,0,60);
    font-size: 45px;
    height: 70px;
    border-radius: 15px;
    padding-left: 5px;
}

.wd-profile-info-box {
    color: black;
    background-color: #d3d3d3;
    padding-left: 15px;
    border-radius: 10px;
}

.wd-profile-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.wd-profile-name-font {
    font-size: 20px;
}

.wd-inner-profile-box {
    background-color: rgb(0,255,133);
    border-radius: 10px;
    padding: 5px;
}

.wd-inner-profile-box-font {
    color: rgb(56,0,60);
    font-weight: bolder;
    font-size: 15px;
}

.wd-inner-profile-box-font-2 {
    font-size: 12px;
    font-weight: lighter;
    color: black;
}

.wd-team-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.list-group-item.override-blue-dark-my-team {
    background-color: rgb(233,0,82);
}

.list-group-item.override-blue-light-my-team {
    background-color: lightgrey;
}

.list-group-item.override-purple-dark-my-wall {
    background-color: rgb(56,0,60);
}

.wd-font-white{
    color: white;
}

.list-group-item.override-purple-light-my-wall {
    background-color: lightgrey;
}

.list-group-item.override-pink-dark-information{
    background-color: rgb(233,0,82);
}

.list-group-item.override-pink-light-information {
    background-color: lightgrey;
}

.list-group.override-no-borders {
    --bs-list-group-border-width: 0px;
}

.wd-team-details-font {
    font-size:14px;
}

.wd-wall-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.wd-private-info {
    font-size: 14px;
}


.wd-comment-no-border-box {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: #E1E8ED;
    border-color: black;
    height: 300px;

}

.wd-welcome-box {
    background-color: rgb(178, 0, 190);
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.wd-welcome {
    font-size: 35px;
    color: black;
    font-weight: bolder;
}

.wd-user-name {
    font-size: 35px;
    color: rgb(233,0,82);

}

.wd-home-fantasy-font {
    font-size: 50px;
    color: rgb(56,0,60);
}

.center {
    text-align: center;
}

.wd-welcome-font {
    font-size: 35px;
    color: rgb(56,0,60);
}

.wd-access-blocked {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0,0,0,.125);
    padding: 10px;
}

.wd-comment-box-grey {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: lightgrey;
    height: 300px;

}
.wd-wall-format {
    background-color: rgb(56,0,60);
    color: white;
    height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
}

.wd-comment-format {
    background-color: rgb(233,0,82);
    color: white;
    height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
}

.wd-draft-format {
    background-color: rgb(233,0,82);
    color: white;
    height: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
}

.wd-font-comment-size {
    font-size: 20px;
}