.wd-comment-box {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;


    height: 300px;

}

.list-group-item.override-search-light-grey {
    background-color: #E1E8ED;
}

.list-group.override-border-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item.override-border-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.wd-player-name-box {
    font-size: 40px;
    background-color: rgb(56,0,60);
    color: white;
    border-radius: 10px;

}

.wd-stats-box {
    font-size: 40px;
    background-color: rgb(0,255,133);
    color: black;
    font-weight: bolder;
    border-radius: 10px;


}